body {
    background-color: #372DB2;
    color: white;
 }
 
 .cabecalho {
 background-color: #383d58;
 color: white;
 display: flex;
    justify-content: space-around;
    padding: 24px 0;
 }
 
 .cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
 }
 
 * {
 margin: 0 16px;
 padding: 24px 0;
 }

 .escola {
   background-image: linear-gradient(#383d58,#00c0eb);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 24px 0;
 }

 .escola-titulo {
   padding: 24px 0;
 }

 .escola-imagem {
   width: 25%;
 }
 .escola-conteudo {
   width: 35%;
 }

 body {
   font-family: "poppins",sans-serif;
 }

 .professor-imagem{
   width: 120px;
 }

 .professor-icone {
  width: 30px;
  text-align: center;
 }

 .professor-div {
  width: 60%;
  text-align: center;
 }

.estudante {
  background-image: linear-gradient(#00c0eb,#75dbf1);
  color: white;
  padding: 24px 0;
}

.estudante-titulo {
  width: 72%;
  text-align: center;
}

.samuel-imagem {
  width: 120px;
}

.segundo-prof-icone {
  width: 30px;
  text-align: center;
 }

 .segundo-prof-div {
  text-align: center;
 }

 .imagens-dos-professores {
  display: flex;
 }

 .terceiro-prof-icone {
  width: 30px;
  text-align: center;
 }

 .terceiro-prof-div {
  text-align: center;
 }